:root {
    --primary-color: #1c1c1c;
    --secondary-color: #f6f6f9;
    --accent-color: #f6ad00;
    --background-color: #ce9c6b;
    --text-color: #aaaaaa;
  }
  
  * {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
  }
  
  body {
    background: #f3f3f5;
  }
  
  .Home {
    height: 115vh;
    width: 100%;
    background-color: var(--secondary-color);
    background-image: linear-gradient(rgb(17, 17, 17, 0.7), rgb(17, 17, 17, 0.7)), url("hectorjpg-020.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
  }
  
  .sidebar11 {
    height: 0%; 
    width: 0%;
    background: linear-gradient(rgb(17, 17, 17, 0.7), rgb(17, 17, 17, 0.7));
    z-index: 100;
    transition: 0.3s;
  }
  
  .nav-bar, .info-bar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-bar a img {
    height: 160px;
    width: 140px;
    margin-top: 100px;
    padding: 3px;
    background: #121212;
  }
  
  .nav-bar a, .nav_listIcons a {
    font-size: 16px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: 0.5s;
    font-weight: 600;
  }
  
  .nav-bar a:hover, .nav_listIcons a:hover {
    color: var(--accent-color);
  }
  
  .Header {
    height: 82vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  .Header h1 {
    color: #f6f6f9;
    font-family: "Red Rose", "Sans-Serif";
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    font-size: 90px; 
    animation: slide-top 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  .Header h1 span {
    color: var(--accent-color);
  }
  
  .Header h3 {
    color: #f6f6f9;
    text-align: center;
    letter-spacing: 2px;
    animation: slide-top 2s both;
  }
  
  .Header button {
    height: 55px;
    width: 260px;
    border: 5px double var(--accent-color);
    background: var(--primary-color);
    color: white;
    letter-spacing: 2px;
    margin-top: 20px;
    transition: 0.5s;
    animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  .Header button:hover {
    border: 5px double var(--background-color);
    color: var(--background-color);
    transform: translateY(-5px);
  }
  
  .fa-whatsapp, .fa-location-crosshairs, .fa-clock {
    color: var(--accent-color);
    font-size: 27px;
    margin-right: 10px;
  }
  
  .info-bar {
    background: var(--primary-color);
    position: relative;
    top: 50px;
  }
  
  .info-bar a {
    color: var(--secondary-color);
    font-weight: 600;
    transition: 0.5s;
    text-decoration: none;
  }
  
  .info-bar a p {
    color: var(--text-color);
    font-size: 14px;
    position: relative;
    left: 38px;
    margin-top: 4px;
  }
  
  .info-bar a:hover {
    color: var(--accent-color);
  }
  
  @media only screen and (min-width: 1024px) {
    .Header {
      overflow: visible;
      top: 35px;
    }
    
    .info-bar {
      padding: 0 5px;
      height: 100px;
      top: 50px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .Header {
      top: 50px;
    }
    
    .info-bar {
      height: 200px;
      top: 50px;
      padding: 0 10px;
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
    }
    
    .info-bar a p {
      margin-left: 10px;
      font-size: 12px;
    }
  }
  
  .navbar, .sidebar {
    display: none;
  }
  
  @media (min-width: 480px) {
    .Home {
      height: 100vh;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .Home, .Header {
      height: 130vh;
      overflow: visible;
    }
  
    .info-bar a {
      left: 20px;
    }
  
    .info-bar {
      justify-content: space-evenly;
      top: 150px;
    }
    
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      color: var(--secondary-color);
    }
  
    .logo img, .navbar-logo img {
      height: 70px;
      width: 70px;
    }
  
    .menu-icon {
      font-size: 24px;
      cursor: pointer;
    }
  
    .sidebar {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 40%;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      transition: left 0.5s ease;
      z-index: 1000;
    }
  
    .sidebar.show {
      left: 0;
    }
  
    .sidebar-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      background-color: var(--primary-color);
    }
  
    .sidebar-header .logo img, .sidebar-header .close-btn {
      height: 70px;
      width: 70px;
      font-size: 24px;
      cursor: pointer;
    }
  
    .sidebar-header .close-btn:hover {
      background: var(--accent-color);
    }
  
    .menu-items {
      padding: 0;
      margin: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      left: 15px;
      top: 20px;
      gap: 10px;
      font-weight: 600;
    }
  
    .menu-items li {
      padding: 20px;
    }
  
    .menu-items li a {
      text-decoration: none;
      color: var(--secondary-color);
      font-size: 14px;
    }
  
    .menu-items li a:hover {
      color: var(--accent-color);
    }
  }
  
  @media only screen and (max-width: 480px) {
    #logo_mobile {
      height: 60px;
      width: 60px;
    }
  
    .Header h1 {
      font-size: 55px;
      width: 300px;
    }
  
    .Header h3 {
      font-size: 19px;
      font-weight: 500;
    }
  
    .info-bar {
      height: 200px;
      top: 150px;
      flex-direction: column;
      align-items: start;
      gap: 20px;
    }
  
    .info-bar a {
      font-size: 12px;
      left: 15px;
    }
  
    .info-bar a p {
      font-size: 10px;
      margin-left: 25px;
    }
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .Header .nav-bar {
    top: 30px;
    background: var(--primary-color);
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  #scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f6ad00;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #scroll-to-top:hover {
    background-color: #e59400;
  }
  
  #scroll-to-top:active {
    background-color: #f6ad00;
  }
  
  @media (min-width: 769px) {
    .Header h1 {
      font-size: 100px;
    }
  
    .Header h3 {
      font-size: 24px;
    }
  }
  